<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729478272339-8g744bksdns3igd5uqj916n3evk1irf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729478272339-8g744bksdns3igd5uqj916n3evk1irf5</string>
	<key>API_KEY</key>
	<string>AIzaSyBH7kr3j5J9J2Cqzh4D3LD7FNMfrdHAjks</string>
	<key>GCM_SENDER_ID</key>
	<string>729478272339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scottcolas.Reps</string>
	<key>PROJECT_ID</key>
	<string>customer-service-98cd4</string>
	<key>STORAGE_BUCKET</key>
	<string>customer-service-98cd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729478272339:ios:9e24a3125be822ca4bbda6</string>
</dict>
</plist>